$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;
$container-style: fluid;

html {
	height: 100%;
}

body {
	position: relative;
	width: 100%;
}

.l-page {
	padding: 50px 0 60px;
	margin: 0 auto;
}

.l-main, .l-footer, .l-header {
	@include container;
	// @include susy-grid-background;
}

.l-header {
	min-height: 80px;
	position: relative;
}

.l-title {
	width: 100%;
	padding: 10px 0 40px;
}

.l-content {
	@include span-columns(12 omega, 12);
}


// MODIFIERS

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.l-page {
		width: $break-small;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	.l-page {
		width: $break-medium;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
	.l-page {
		width: $break-large;
	}
}


