#message-container {
	z-index: 100;
	position: fixed;
	top: 80px;
	width: 100%;
	padding-right: $gutter-width;
	.message {
		@include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.1));
	}
}

.l-title h1 {
	margin: 0;
	padding-top: 20px;
}

.bootstrap-dialog-title {
	@extend h4;
	margin: 0;
}

.tab-pane {
	padding-top: 15px;
}

#permissions td {
	vertical-align: middle;
	input[type="checkbox"] {
		margin: 0;
	}
	.name {
		display: block;
	}
}

body.plugin-system.users, body.plugin-system.roles {
	button[data-action="add"] {
		margin-bottom: 10px;
	}
	#roles, #users {
		.actions button {
			margin-right: 10px;
		}
	}
}


// MODIFIERS

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	#message-container {
		left: 50%;
		padding-right: 0;
		margin-left: -(($break-small / 2) - ($gutter-width / 2));
		width: $break-small - $gutter-width;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	#message-container {
		margin-left: -(($break-medium / 2) - ($gutter-width / 2));
		width: $break-medium - $gutter-width;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
	#message-container {
		margin-left: -(($break-large / 2) - ($gutter-width / 2));
		width: $break-large - $gutter-width;
	}
}