.l-navigation {
	#topBar {
		.navbar-header {
			position: relative;
			z-index: 1;
		}
		ul.nav {
			> li {
				&.admin, &.account {
					&:before {
						display: none;
						@extend .glyphicon;
					}
				}
				&.account {
					li.username {
						padding: 5px 15px 5px 25px;
						margin: -5px 0 5px;
						color: $navbar-default-color;
						background: $navbar-default-bg;
						border-bottom: 1px solid $navbar-default-border;
					}
				}
				&.admin:before {
					@extend .glyphicon-cog;
				}
				&.account:before {
					@extend .glyphicon-user;	
				}
			}
		}
		.navbar-collapse {
			position: relative;
		}
		.container {
			max-width: $break-large;
			padding: 0 10px;
		}
		.navbar-brand {
			position: relative;
			padding-left: 59px;
			.polaroid-logo {
				width: 33px;
				height: 30px;
				margin-top: -5px;
				background: url(../images/polaroid_logo.png) no-repeat left top;
				position: absolute;
				left: 15px;
			}
		}
		.updated {
			font-style: italic;
			display: block;
			height: 50px;
			line-height: 50px;
			color: $grey_menu;
		}
	}
}


// MODIFIERS

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.l-navigation {
		#topBar {
			ul.nav {
				> li {
					margin-left: 1px;
					&:first-child {
						margin-left: 0;
					}
					&.admin, &.account {
						position: absolute;
						width: 70px;
						right: 0;
						&:before {
							font-size: 25px;
							position: absolute;
							z-index: 0;
							left: 23px;
							top: 13px;
							color: $grey_menu;
							display: block;
						}
						&:hover, &.open {
							&:before {
								color: scale-color($grey_menu, $lightness: -20%);
							}
						}
						&.active, &.open {
							background-color: #e7e7e7;
							> a {
								background: transparent;
							}
						}
						> ul {
							left: auto;
							right: 0;
						}
						> a {
							text-indent: -999999px;
							z-index: 2;
						}
					}
					&.account {
						right: 71px;
						li.username {
							padding: 8px 20px 8px;
						}
					}
					&.account:last-child {
						right: 0;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
	.l-navigation {
		#topBar .navbar-brand {
			padding-left: 50px;
			.text {
				display: none;
			}
		}
	}
}



