body.plugin-bierlijst.adminsection {
	#reports {
		.from_until {
			float: left;
		}
		.to-csv {
			float: right;
		}
	}
	#report_amount {
		margin-top: 10px;
	}	
	#adjust {
		.adjustments button:first-child {
			margin-right: 10px;
		}
	}
}