body.plugin-bierlijst {
	.panel-heading[data-toggle="collapse"] {
		cursor: pointer;
		&:hover {
			h3 {
				text-decoration: underline;
				&:after {
		    		color: $grey_font; 
				}
			}
		}
		h3:after {
		    font-family: 'Glyphicons Halflings';
		    color: $grey_light; 
		    content: "\e114";    
		    float: right; 
		}
		&.collapsed h3:after {
	    	content: "\e080";
		}
	}
	.datepicker-dropdown {
		padding: 5px;
	}
}