#drinkers {
	.drinker {
		text-align: center;
		position: relative;
		.crown {
			display: block;
			z-index: 10;
			position: absolute;
			top: -16%;
			left: 0;
			@include push(5);
			@include span-columns(2, 12);
		}
		.name {
			display: block;
			margin-top: 40px;
		}
		.amount {
			font-weight: bold;
			position: absolute;
			top: 5%;
			left: 7%;
			background: $grey_dark;
			color: #fff;
			border: 3px solid #fff;
			width: 35px;
			height: 35px;
			z-index: 1;
			line-height: 29px;
			@include box-shadow(0 0 10px rgba(0, 0, 0, 0.4));
			@include border-radius(50%);
			@include push(2);
			@media screen and (max-width: 1000px) {
				left: 0;
			}
			&.increment {
				background-color: $green_succes;
			}
			&.incremented {
				@include transition(background-color 1000ms);
				background-color: $grey_dark;
			}
			&.decrement {
				background-color: $red_error;
			}
			&.decremented {
				@include transition(background-color 1000ms);
				background-color: $grey_dark;
			}
		}
		.profile_picture {
			border: 7px solid #fff;
			cursor: pointer;
			@extend .img-circle;
			@include box-shadow(0 0 10px rgba(0, 0, 0, 0.4));
			@include span-columns(10, 12);
			@include push(1);
			img:not(.crown) {
				@extend .img-circle;
			}
		}
	}
}


// MODIFIERS

@media (max-width: $screen-extra-sm-min) {
	#drinkers {
		.drinker {
			margin-top: 30px;
			@include span-columns(6, 12);
			&:first-child, &:nth-child(2) {
				margin-top: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-extra-sm-min) and (max-width: $screen-sm-min) {
	#drinkers {
		.drinker {
			@include span-columns(4, 12);
			&:nth-child(4), &:nth-child(5n + 4) {
				margin-left: 16.667%;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	#drinkers {
		.drinker {
			margin-top: 15px;
			@include span-columns(3, 12);
			&:nth-child(5), &:nth-child(7n + 5) {
				margin-left: 12.5%;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
		.profile_picture {
			@include span-columns(8, 12);
			@include push(2);
		}
	}
}
