body.plugin-bierlijst.preferences {
	.drinker {
		padding: 15px 0;
		&.add {
			display: none;
			.name, .profile_picture {
				display: none;
			}
		}
		.input-group {
			float: left;
			margin: 5px 0 10px;
		}
		.name {
			margin-bottom: 4px;
			float: left;
			.edit, .remove {
				cursor: pointer;
			}
			.edit {
				margin-left: 6px;
			}
			.remove {
				display: none;
			}
		}
		.profile_picture {
			width: 100px;
			height: 100px;
			float: left;
			clear: both;
			text-align: center;
			position: relative;
			@extend .img-thumbnail;
			&:hover {
				.btn-file.change {
					opacity: 1;
				}
			}
			.loading {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(#fff, 0.9) url(../images/loader.gif) center center no-repeat;
			}
			.btn-file {
				margin-top: 30px;
				&.change {
					margin-top: 0;
					position: absolute;
					left: 22px;
					top: 35px;
					opacity: 0;
					@include transition(opacity 400ms ease);
				}
			}
		}
	}
	.panel.drinkers {
		.panel-body > .actions {
			width: 100%;
			clear: both;
			padding-bottom: 10px;
			.btn:focus:not(.active) {
				background: #fff;
			}
		}
	}
}


// MODIFIERS

@media (max-width: $screen-extra-sm-min) {
	.drinker {
		@include span-columns(6 ,12);
		&:nth-child(2n + 2):not(.add) {
			@include omega;
		}
	}
}

@media (min-width: $screen-extra-sm-min) {
	.drinker {
		@include span-columns(3 ,12);
		&:nth-child(4n + 2):not(.add) {
			@include omega;
		}
	}
}

body.preferences {
	.panel.drinkers.add {
		.drinker {
			&:nth-child(4n + 2) {
				@include remove-omega;
			}
			&:nth-child(4n + 5) {
				@include omega;
			}
		}
	}
}