body.plugin-portal.adminsection {
	.panel.routers {
		.house {
			margin: 0 auto;
		}
	}
}


// MODIFIERS

body.plugin-portal.adminsection {
	/* Small devices (tablets, 768px and up) */
	@media (min-width: $screen-sm-min) {
		.panel {
			&.shortcuts {
				@include span-columns(6, 12);
			}
			&.routers {
				@include span-columns(6 omega, 12);
			}
		}
	}
}
