body.plugin-portal.portal {
	.panel.feed {
		&.movies .item {
			padding-top: 10px;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
		&.series .item {
			padding: 5px 0;
			@include span-columns(6, 12);
			&:nth-child(2n) {
				@include omega;
			}
			&:nth-child(1), &:nth-child(2) {
				padding-top: 0;
			}
			&:nth-last-child(1), &:nth-last-child(2) {
				padding-bottom: 0;
			}
			&:nth-child(5), &:nth-child(6) {
				display: none;
			}
			.modal {
				.poster {
					@include span-columns(6, 12);
				}
				.content-right {
					@include span-columns(6, 12);
				}
				.poster + .content-right {
					@include omega;
				}
			}
		}
		.item {
			.modal {
				.poster {
					@include span-columns(4, 12);
				}
				.content-right {
					@include span-columns(8, 12);
				}
				.poster + .content-right {
					@include omega;
				}
			}
		}
		a.btn.imdb {
			color: #000;
			background-color: $yellow_imdb;
			border-color: scale-color($yellow_imdb, $lightness: -20%);
			&:hover {
				color: #000;
				background-color: scale-color($yellow_imdb, $lightness: -20%);
			}
		}
	}
}


// MODIFIERS

body.plugin-portal.portal {
	/* Small devices (tablets, 768px and up) */
	@media (min-width: $screen-sm-min) {
		.panel {
			&.shortcuts {
				@include span-columns(6, 12);
			}
			&.feed {
				&.movies {
					@include span-columns(6, 12);
				}
				&.series {
					@include span-columns(6 omega, 12);
					.item:nth-child(5), .item:nth-child(6) {
						display: block;
					}
				}
			}
		}
	}
}


