body.plugin-iframe {
	height: 100%;
	overflow: hidden;
	.l-title {
		display: none;
	}
	.l-main {
		padding: 0;
		margin-top: -81px;
		height: 100%;
	}
	.l-content {
		height: 100%;
	}
	.l-page {
		width: 100%;
		height: 100%;
		padding: 0;
	}
}