@media -sass-debug-info{filename{font-family:file\:\/\/\/Development\/MAMP\/polaroid_intranet\/themes\/polaroid\/sass\/variables\/_typography\.scss}line{font-family:\000031}}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joachim\/\.rvm\/gems\/ruby-1\.9\.3-p545\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_box-sizing\.scss}line{font-family:\0000336}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }
