body.plugin-portal {
	.panel.feed {
		a.more {
			float: right;
			margin-top: -20px;
		}
		.item {
			a.title {
				color: $grey_font;
				cursor: pointer;
			}
			.poster {
				max-height: 100px;
				float: left;
				display: block;
				@include border-radius(2px);
				@include box-shadow(0px 0px 4px rgba(0,0,0,0.3))
			}
			.read-more {
				cursor: pointer;
			}
			.modal {
				.poster {
					max-height: 100%;
				}
			}
		}
		&.series {
			.item {
				.poster {
					max-height: 100%;
					margin-bottom: 10px;
				}
				.read-more {
					display: block;
				}
			}
		}
		&.movies {
			.item {
				.poster {
					margin-right: 10px;
				}
			}
		}
	}
}