body.plugin-portal {
	.panel.routers {
		.house {
			position: relative;
			width: 428px;
			height: 366px;
			background: url(../images/house.jpg) no-repeat center;
		}
		.router {
			display: block;
			width: 70px;
			height: 65px;
			color: transparent;
			background: url(../images/router.png) no-repeat center;	
			position: absolute;
			&:hover {
				background-image: url(../images/router_hover.png);
			}
			&.floor2 {
				top: 18px;
				left: 210px;
			}
			&.floor1 {
				top: 96px;
				left: 272px;	
			}
			&.floor0 {
				top: 154px;
				left: 185px;
			}
			&.exterior {
				top: 184px;
				left: 3px;
			}
		}
	}
}