body.plugin-portal {
	.panel.shortcuts {
		.shortcut {
			@include span-columns(6, 12);
			&:nth-child(2n) {
				@include omega;
			}
			&:last-child, &:nth-last-child(2) {
				a {
					margin-bottom: 0;	
				}
			}
			a {
				display: block;
				margin-bottom: 20px;
				color: $grey_font;
				text-align: center;
				font-weight: bold;
				padding: 110px 30px 10px 30px;
				border: 1px solid $grey_light;
				background: {
					repeat: no-repeat;
					position: center 0;
				}
				@include push(1);
				@include border-radius(20px);
				@include span-columns(10, 12);
				&.bierlijst {
					background-image: url(../images/bierlijst.png);
				}
				&.plex {
					background-image: url(../images/plex.png);
				}
				&.couchpotato {
					background-image: url(../images/couchpotato.png);
				}
				&.sickbeard {
					background-image: url(../images/sickbeard.png);
				}
				&.download {
					background-image: url(../images/download.png);
				}
				&.monitoring {
					background-image: url(../images/network_monitor.png);
				}
				&.database {
					background-image: url(../images/database.png);
				}
			}
		}
	}
}